<div class="container">
		<div class="row">
<%= render 'shared/mydoc' %>

<div class="col-md-8">
<h1>About</h1>
				<div class="lead">
					Hi,my Name is Yishun-Ha, welcome to my blog
				</div> <!-- end lead -->
				<hr>

        <p class="bg-success">
          I study in the University of Huddersfield, a beautiful university with a long histroy, I am enjoy myself very much during staying in it.
          I'd love to share this experience through this blog.
        </p>

			</div><!-- end col-8 -->
	</div><!-- end container -->
